[Unit]
Description=rkvm server
After=network-online.target

[Service]
ExecStart=/usr/bin/rkvm-server /etc/rkvm/server.toml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
