[Unit]
Description=rkvm client
Wants=network-online.target
After=network-online.target
# This prevents systemd from giving up trying to restart the service.
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/rkvm-client /etc/rkvm/client.toml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
